<div class='container'>
<h3><%= t('nav.gallery')%></h3>
  <div class='row justify-content-md-center menu-white-bg'>
    <%= image_gallery_builder('/images/dish_1.png') %>
    <%= image_gallery_builder('/images/dish_2.png') %>
    <%= image_gallery_builder('/images/dish_3.png') %>
    <%= image_gallery_builder('/images/restaurant_1.jpg') %>
    <%= image_gallery_builder('/images/restaurant_2.jpg') %>
    <%= image_gallery_builder('/images/restaurant_4.jpg') %>
  </div>
</div>