<div class='container sections-content'>
  <h1 class='section-title'><%= t('nav.gallery')%></h1>
  <hr class='line-separator'/>
  <div class='row justify-content-md-center'>
    <%= image_gallery_builder('/images/dish_1.png') %>
    <%= image_gallery_builder('/images/dish_2.png') %>
    <%= image_gallery_builder('/images/dish_3.png') %>
    <%= image_gallery_builder('/images/restaurant_1.jpg') %>
    <%= image_gallery_builder('/images/restaurant_2.jpg') %>
    <%= image_gallery_builder('/images/restaurant_4.jpg') %>
  </div>
</div>