<% @title="Бистро Аги" %>

<section id="menu" class="content-section text-center" >
  <div class="container">
    <%= render 'menu' %>
  </div>
</section>

<div>
  <%= react_component("ReactSections") %>
</div>

<section id="map" class="content-section text-center">
  <div class="container">
    <%= render 'map' %>
  </div>
</section>

<hr class='line-separator' />
  <section id="about" class="content-section text-center">
  <%= render 'about' %>
</section>

<button class="btn back-to-top-btn" id="back-to-top-btn" onClick="topFunction()" title="<%= t('nav.back_to_top') %>"></button>

<hr class='line-separator' />

<footer class="page-footer font-small blue pt-4 mt-4">
<!--
  <div class="container-fluid text-center text-md-left">
    <%= render 'footer' %>
  </div>
-->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
  </div>

</footer>
